/* CSS files add styling rules to your content */
:root {
    --font: saira;
    --primary: #000099;
}
*{
    box-sizing: border-box;
    margin: .15em 0;
}
body {background-color: #f7f2e4;
        color:#1c1836;
        }
@media(min-width:35em) {
    .col {
        display: table-cell;
    }
    .\31 {
        width: 5%;
    }
    .\33 {
        width: 22%;
    }
    .\34 {
        width: 30%;
    }
    .\35 {
        width: 40%;
    }
    .\32 {
        width: 15%;
    }
    .row {
        display: table;
        border-spacing: 1em 0;
    }
}
.w-100,
.row {
    width: 100%;
	margin-bottom: 1em;
}
.card:focus,
hr {
    outline: 0;
    border: solid var(--primary);
    margin: 2em 0;
}
.card,
pre {
    padding: 1em;
    border-top: solid #99d8d0;
    text-align: justify;
	background-color: #ffffff;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

}
a:hover,
.btn:hover {
    opacity: .6;
}
.c {
    background-color: #e5e5e5;
    max-width: 80em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 var(--font);
}
h6 {
    font: 300 1em var(--font);
}
h5 {
    font: 300 1.2em var(--font);
}
h3 {
    font: 300 2em var(--font);
}
h4 {
    font: 300 1.5em var(--font);
}
h2 {
    font: 300 2.2em var(--font);
}
h1 {
    font: 300 2.5em var(--font);
}
h7 {
    font: 800 .8em var(--font);
		float:right;
		color:hsla(248, 38%, 15%, 0.5);
}
a {
    color: var(--primary);
    text-decoration: none;
}
.btn.primary {
    color: white;
    background: var(--primary);
    border: solid var(--primary);
}
pre {
    overflow: auto;
}
td,
th {
    padding: 1em;
    text-align: left;
    border-bottom: solid var(--primary);
}
.btn {
    padding: 1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background: white;
    border: solid;
    font: .7em var(--font);
    cursor:pointer;
}  